<div class="row">
    <div class="col-sm-12" style="text-align:center; color: cadetblue;">
        <h3><i>Profile</i></h3>
    </div>
<div class="col-sm-12">
    <form [formGroup]="signinForm">
        <div class="form-group">
            <label>First Name:</label>
            <input formControlName="username" type="text" class="form-control" id="Name" aria-describedby="UserHelp" value={{this.Name}} placeholder="Name">
            <small id="UserHelp" style="color: red;" *ngIf="signinForm.controls.username.invalid&&signinForm.controls.username.dirty">Required!!</small>
        </div>
        <div class="form-group">
            <label>Phone Number:</label>
            <input formControlName="phone" type="text" class="form-control" id="phone" aria-describedby="UserHelp" placeholder="Number" value={{this.number}}>
            <small id="UserHelp"  style="color: red;" *ngIf="signinForm.controls.phone.invalid&&signinForm.controls.phone.dirty">Invalid Phone number!!</small>
        </div>
        <div class="form-group">
            <label>Address:</label>
            <textarea formControlName="address" type="text" class="form-control" id="address" aria-describedby="UserHelp" placeholder="Address" value="{{this.place}}"></textarea>
            <small id="UserHelp"  style="color: red;" *ngIf="signinForm.controls.address.invalid&&signinForm.controls.address.dirty">Address Invalid!!</small>
        </div>
        <br>
        <div class="form-group" style="text-align:center">
            <button type="button" class="btn" style="margin-right: 3%; background-color:rgb(199, 199, 53);" (click)="makeedits()">Edit</button>
            <button type="button" class="btn" (click)="update()">Save</button>
        </div>
    </form>
</div>
</div>
