.row{
    margin-top: 110px;
    padding:20px;
    border-radius: 15px;
    width:400px;
    margin-left: 35%;
    background-color:lightgray;
    color:black;
    border-color: 2px solid cadetblue;
}
