.col-3{
    align-items: center;
    margin: 10px;
    width:250px;
    align-items: center;
    box-shadow: 5px 10px 8px #888888;
    border-radius: 18px;
    padding:0%;
  }
  .inner{
    width: 100%;
    /* margin:0%; */
    align-items: center;
    background-color:cadetblue;
    color:white;
    padding:5%;
  }
  .btn1{
    padding:0.5%;
  }