.col-md-2{
  margin: 30px;
  align-items: center;
  box-shadow: 5px 10px 8px #888888;
  border-radius: 18px;
  padding: 0%;
}
.inner{
  width: auto;
  margin:0%;
  align-items: center;
  background-color:cadetblue;
  padding:1.8%;
  color:white;
}
.btn1{
  padding:0.5%;
}