<nav class="navbar navbar-expand-lg navbar-dark navbar-text-#C5CBE3 bg-dark">
  <div class="container-fluid">
    <img src="favicon.ico" width="30" height="30" style="margin-bottom:5px; margin-right: 5px;" class="d-inline-block align-top" alt="icon">
    <h3 class="navbar-brand">Fresh Choice</h3>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href=# id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Catogery
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item"  [queryParams]="{type:'fruits'}" [routerLink]="['/Catogery/Fruits']">Fruits</a></li>
            <li><a class="dropdown-item"  [queryParams]="{type:'vegetables'}" [routerLink]="['/Catogery/Vegetables']">Vegetables</a></li>
            <li><a class="dropdown-item" [queryParams]="{type:'bakerys'}" [routerLink]="['/Catogery/Bakerys']">Bakery</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="Basket">Basket</a>
        </li>
      </ul>
      <span class="navbar-text">
        <a id="change" class="nav-link" routerLink="Login" *ngIf="!login()">Login</a>
        <a class="nav-link" routerLink="About" *ngIf="login()">Profile</a>
      </span>
      <span class="navbar-text">
        <a class="nav-link" routerLink="Signin" *ngIf="!login()">Sign Up</a>
        <a id="change" class="nav-link" routerLink="/"  *ngIf="login()"(click)="Logout()">Logout</a>
      </span>
    </div>
  </div>
</nav>
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="default" type="ball-spin-clockwise">
  <p style="color:white">Please Wait...</p>
</ngx-spinner>
<router-outlet></router-outlet>



