<div class="row">
  <div class="col-sm-12" style="text-align:center">
    Sign Up
  </div>
  <div class="col-sm-12">
    <form [formGroup]="signinForm">
      <div class="form-group">
        <label for="email">Email Address</label>
        <input formControlName="email" type="email" class="form-control" id="email" aria-describedby="emailHelp"
           (change)="emailCheckUnique()">
        <small style="color:red" *ngIf="signinForm.controls.email.touched&&!signinForm.controls.email.dirty">Email
          Required!!</small>
        <small id="UserHelp" style="color: red;"
          *ngIf="signinForm.controls.email.invalid&&signinForm.controls.email.dirty">Invalid Email!!</small>
        <small style="color: red;" *ngIf="emailAlredyExist != ''; else elseBlock">
          {{emailAlredyExist}}
        </small>
        <ng-template id="emailHelp" class="form-text text-muted" #elseBlock></ng-template>
      </div>
      <div class="form-group">
        <label>First Name</label>
        <input formControlName="username" type="text" class="form-control" id="username" aria-describedby="UserHelp">
        <small style="color:red" *ngIf="signinForm.controls.username.touched&&!signinForm.controls.username.dirty">First
          Name Required!!</small>
        <small id="UserHelp" style="color: red;"
          *ngIf="signinForm.controls.username.invalid&&signinForm.controls.username.dirty">Invalid Name!!</small>
      </div>
      <div class="form-group">
        <label>Phone Number</label>
        <input formControlName="phone" type="text" class="form-control" id="phone" aria-describedby="UserHelp">
        <small style="color:red" *ngIf="signinForm.controls.phone.touched&&!signinForm.controls.phone.dirty">Phone
          Number Required!!</small>
        <small id="UserHelp" style="color: red;"
          *ngIf="signinForm.controls.phone.invalid&&signinForm.controls.phone.dirty">Invalid Phone number!!</small>
      </div>
      <div class="form-group">
        <label>Address</label>
        <textarea formControlName="address" type="text" class="form-control" id="address" aria-describedby="UserHelp"></textarea>
        <small style="color:red" *ngIf="signinForm.controls.address.touched&&!signinForm.controls.address.dirty">Address
          Required!!</small>
        <small id="UserHelp" style="color: red;"
          *ngIf="signinForm.controls.address.invalid&&signinForm.controls.address.dirty">Address Invalid!!</small>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input formControlName="password" type="password" class="form-control" id="password" aria-describedby="passHelp">
        <small style="color:red"
          *ngIf="signinForm.controls.password.touched&&!signinForm.controls.password.dirty">Password Required!!</small>
        <small id="passHelp" style="color: red;"
          *ngIf="signinForm.controls.password.invalid&&signinForm.controls.password.dirty">Password should have atleast<br>
          *one capital letter<br>*one small letter<br>*one special character<br>*one number<br>*minimun length should be 9</small>
      </div>
      <div class="form-group">
        <label for="Cpassword">Confirm Password</label>
        <input formControlName="cpassword" type="password" class="form-control" id="Cpassword"
          aria-describedby="CpassHelp">
        <small style="color:red"
          *ngIf="signinForm.controls.cpassword.touched&&!signinForm.controls.cpassword.dirty">Confirm Password
          Required!!</small>
        <small id="CpassHelp" style="color: red;"
          *ngIf="(signinForm.controls.cpassword.dirty)&&(signinForm.controls.password.value!=signinForm.controls.cpassword.value)">Should
          be same as Password</small>
      </div>
      <br>
      <div class="form-group" style="text-align:center">
        <button type="button" class="btn btn-dark" (click)="signin()"
          [disabled]="signinForm.invalid||(signinForm.controls.password.value!=signinForm.controls.cpassword.value)||(emailAlredyExist != '')">Sign
          Up</button>
      </div>
      <br><small>Already have an Account? <a routerLink="/Login" class="link-dark">Login</a></small>
    </form>
  </div>
</div>
